/* Global or Common CSS start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FAFAFA;
  }


  /* variable with global scope */
  :root {
    --main-theme-color: #F44335;
  }


  /* Global btn */
  .global-btn{
    background-color: var(--main-theme-color);
    color: #FFFFFF;
    width: 400;
    font-size: 18px;
  }

  /* Global or Common CSS end */
  
  /* Navbar section CSS: */
  .home-text-color{
    color: var(--main-theme-color);
  }

  
  /* Banner Section CSS: */